
numpy
scikit-learn==1.7.0
streamlit
GitPython==3.1.44
h5py==3.15.1
httpx==0.28.1
keras==3.11.3
matplotlib==3.10.3
matplotlib-inline==0.1.7
pillow==11.3.0
plotly==6.2.0
scipy==1.16.0
seaborn==0.13.2
tensorflow==2.20.0

